<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.InductionMapper">

    <select id="findPage" resultType="com.example.springboot.entity.Induction">
        select induction.*,admin.username as admin from induction
        left join admin
        on induction.admin_id = admin.id
        <where>
            <if test="username != null and username != ''">
                and admin.username like concat('%',#{username},'%')
            </if>
        </where>
    </select>
</mapper>
